
/********************************************/
/* Initialisation                           */
/********************************************/

html, body
{
	font-family: Arial;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

/********************************************/
/* Menu de navigation                       */
/********************************************/

nav
{
	position: fixed;
	z-index: 1;
	background-color: white;
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 100px;
}

.elements-nav
{
	text-align: center;
	line-height: 95px;
	font-size: 20px;
	color: #006600;
	float: left;
	width: 190px;
	height: 95px;
}

.elements-nav a
{
	text-decoration: none;
	color: #006600;

}

.elements-nav a:hover
{
	font-weight: bold;
}

/********************************************/
/*                                          */
/********************************************/

.picture-button
{
	background-color: transparent;
	font-size: 30px;
	color: #999;
	border: none;
}

/********************************************/
/*                                          */
/********************************************/

.conteneur
{
	padding-top: 113px;
	max-width: 100%;
	max-height: 100%;
}

.image-nav
{
	position: absolute;
	width: 100%;
	height: inherit;
	display: none;
}

.opaque
{
	display: block;
}

.selection-image
{
	margin-top: 32%;
	width: 100%;
	text-align: center;
}

.barre-progression
{
	position: absolute;
	margin-top: 110px;
	height: 3px;
	background-color: #006600;
	width: 0px;
}

/********************************************/
/* Footer                                   */
/********************************************/

.footer
{
	margin-bottom: 0px;
	padding-top: 15px;
	text-align: center;
	left: 0px;
	bottom: 0px;
	height: 70px;
	width: 100%;
}

#informations,
#html-5-logo,
#css-3-logo,
#github
{
	float: left;
	margin-top: 15px;
}

#informations, #github
{
	float: right;
}

#copyrights
{
	margin: auto;
	width: 400px;
	display: block;
}

/********************************************/
/*                                          */
/********************************************/

.contenu-synopsis
{
	display: none;
	position: absolute;
	z-index: 1;
	width: 500px;
	height: 300px;
	margin-left: 250px;
	font-size: 20px;
	color: #006600;
	border-right: 2px solid #006600;
	border-bottom: 2px solid #006600;
	border-left: 2px solid #006600;
	background-color: white;
}

.logo
{
	width: 300px;
	height: 110px;
}

/********************************************/
/*	SideBar                                 */
/********************************************/

#sidebar
{
	float: right;
	width: 350px;
	margin-right: 30px;
	height: 450px;
}

.items
{
	height:50px;
	background: #006600;
	color: white;
	border-bottom: 1px solid white;
	border-radius: 5px;
}

.items-active
{
	background: #FFD829;
}

.subitems
{
	display: none;
	height: 0px;
}