
/********************************************/
/* Initialisation                           */
/********************************************/

html, body
{
	font-family: Arial;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body
{
	background: black url('../img/wallpaper.png');
}

/********************************************/
/* Menu de navigation                       */
/********************************************/

nav
{
	position: fixed;
	z-index: 2;
	background-color: #101010;
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 100%;
	height: 65px;
	overflow: hidden;
	border-bottom:  2px solid black;
}

#container-nav
{
	margin: auto;
	width: 1400px;
	height: 65px;
}

#menu, #menu ul   
{
    padding : 0;
    margin : 0;
    list-style : none;
    text-align : center;
}

#menu li
{
	float: left;
	height: 77px;
	border-right: 1px solid #252525;
	width: inherit;
}

#menu li:first-child
{
	border-left: 1px solid #252525;
}

#menu
{
    font-family : Arial;
    font-size : 12px;
    height: inherit;
}

#menu a
{
    display: block;
    padding: 0;
    color: white;
    text-decoration: none;
    width: 200px;
    height: 75px;
    line-height: 75px;
    font-size: 25px;
    color: #006540;
}


#menu a:hover  
{
    background: #252525;
}

/********************************************/
/*                                          */
/********************************************/

.picture-button
{
	background-color: transparent;
	font-size: 30px;
	color: #999;
	border: none;
}

/********************************************/
/*                                          */
/********************************************/

#img-1,
#img-2,
#img-3
{
	box-shadow: 0 10px 6px -6px #777;
}

.conteneur
{
	padding-top: 80px;
	max-width: 100%;
	max-height: 100%;
}

.image-nav
{
	position: absolute;
	width: 100%;
	height: inherit;
	display: none;
}

.opaque
{
	display: block;
}

.selection-image
{
	margin-top: 32%;
	width: 100%;
	text-align: center;
}

.barre-progression
{
	position: absolute;
	margin-top: 77px;
	height: 3px;
	background-color: #FFD829;
	width: 0px;
}

/********************************************/
/* Footer                                   */
/********************************************/

.footer
{
	padding-top: 15px;
	text-align: center;
	height: 70px;
	width: 100%;
	background-color: #101010;
	border-top: 1px solid black;
	color: white;
}

#informations,
#html-5-logo,
#css-3-logo
{
	float: left;
}

#facebook, #twitter, #github
{
	float: right;
}

#copyright
{
	margin: auto;
	width: 400px;
	display: block;
}

/********************************************/
/*                                          */
/********************************************/

.contenu-synopsis
{
	display: none;
	position: absolute;
	z-index: 1;
	width: 500px;
	height: 300px;
	margin-left: 250px;
	font-size: 20px;
	color: #006600;
	border-right: 2px solid #006600;
	border-bottom: 2px solid #006600;
	border-left: 2px solid #006600;
	background-color: white;
}

.logo
{
	margin-bottom: 5px;
	margin-top: 5px;
	width: 200px;
	height: 65px;
}

/********************************************/
/*	SideBar                                 */
/********************************************/

#rail
{
	position: absolute;
	height: 100%;
	right: 10px;
	width: 319px;
	color: black;
}

#sidebar-title h4,
.item-titles h4,
.subitems p
{
	margin: 0px;
}

#sidebar-title
{
	background-color: #101010;
	height: 49px;
	line-height: 49px;
	text-align: center;
	color: white;
	border-bottom: 1px solid black;
}

.item-titles
{
	background-color: #101010;
	border-bottom: 1px solid black;
	color: white;

}

.item-titles
{
	cursor: pointer; 
	padding-left: 25px;
	color: white;
	line-height: 49px;
	height: 49px;
}

.subitems
{
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	color: white;
	padding-top: 5px;
	background-color: #252525;
	font-size: 15px;
}

.active-container
{
	position: absolute;
	width: 15px;
	height: 50px;
}

.hide
{
	display: none;
}

.active-title
{
	background-color: #FFD829;
}

.active-subitem
{
	color: #FFD829;
	font-weight: bold;
}

/********************************************/
/*	Content                                 */
/********************************************/

#content-container
{
	position: relative;
	min-height: 100%;
}

.content
{
	background-color: #252525;
	color: white;
	padding: 25px;
	margin-top: 40px;
	margin-left: 75px;
	margin-bottom: 3%;
	margin-right: 350px;
	font-size: 25px;
	border: 1px solid black;
}

.content-title
{
	color:  #FFD829;
	font-size: 40px;
}

#current-theme
{
	position: absolute;
	z-index: 1;
	font-size: 40px;
	color: white;
	margin-top: 350px;
	margin-left: 100px;
	width: 500px;
	height: 150px;
}

#span-title
{
	float: left;
	width: inherit;
	border-bottom: 3px solid white;
}

#span-theme
{
	float: right;
}

/********************************************/
/*	Images personnages                      */
/********************************************/

.character-containers
{
	height: 375px;
	width: 250px;
	border: 5px solid white;
	box-shadow: 5px 5px 5px #656565;
	float: left;
}

.pair
{
	transform:rotate(3deg);
}

.impair
{
	transform:rotate(-3deg);
}

.character-names
{
	position: absolute;
	text-align: center;
	margin-top: 345px;
	background-color: black;
	width: 250px;
	opacity: 0.75;
}

.character-content
{
	height: 500px;
}